html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
  html p, body p {
    color: black;
  }
  @media(min-width: 530px) {
  html p, body p {
      color: #f6f8f9
  }
  }
.header__logo {
    width: 20%;
  }