#tasks {
  height: 100%;
  width: 100%
}

.task {
  opacity: 0.0;
  /* for fade in effect */
  transition: opacity 1s;

  &--inview {
    opacity: 1;
  }

  display: inline-block;
  margin-top: .15rem;
  text-align: center;
  border: 1px solid $darkGray;
  border-radius: 15px;
  position: relative;
  background-color: $paleOrange;
  box-sizing: border-box;
  padding: 1.9rem .5rem 0 .5rem;

  vertical-align: top;
  /* this is done to prevent the boxes from staggering */

  width: 100%;
  height: 30%;

  @mixin desktop {
      width: 33%;
  }


  &:hover {
    background-color: $darkOrange;
  }


  &__title {
    margin-top: 2.5rem;
  }


  &__hide {
    position: absolute;
    top: 0;
    right: 5%;
    color: $darkGray;

    &:hover {
      color: white;
    }

    &:after{
      display: inline-block;
      font-size: 2.5rem;

      content: "\00d7";
      /* This will render the 'X' icon */
    }
  }
}
