.tasks {
  height: 100%;
  width: 100%
}

.task {
  opacity: 0.0;
  transition: opacity 1.6s;

  &--inview {
    opacity: 1;
  }

  display: inline-block;
  margin-top: .5rem;
  height: 45%;
  text-align: center;
  border: 1px solid gray;
  border-radius: 15px;
  position: relative;
  background-color: #fdd3b4;
  box-sizing: border-box;
  padding: 1.9rem .5rem 0 .5rem;

  vertical-align: top;
  /* this is done to prevent the boxes from staggering */


  width: 33%;
  /* can't do 33.3% unless white space is deleted in HTML, known "bug" */


  &:hover {
    background-color: #ffb985;
  }


  &__title {
    margin-top: 2.5rem;
  }


  &__hide {
    position: absolute;
    top: 0;
    right: 5%;
    color: gray;

    &:hover {
      color: white;
    }

    &:after{
      display: inline-block;
      font-size: 2.5rem;

      content: "\00d7";
      /* This will render the 'X' */
    }
  }
}
